@use '../../assets/styles/variables.scss' as *;

.sidebar {
  width: 16rem;
  height: 100vh;
  padding: 1rem;
  border-right: 1px solid $border;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  &.open {
    transform: translateX(0);
  }

  .logoLink {
    text-decoration: none;
    color: inherit;
    
    &:hover, &:focus, &:active {
      text-decoration: none;
      color: inherit;
    }
  }

.logo {
  display: flex;
  align-items: flex-end; // выравнивание по нижней линии
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: $text-main;

  .logoImg {
    height: 50px;     // размер картинки
    width: auto;
    margin-right: 0;  // убираем отступ
    display: inline-block;
  }

  .logoText {
    display: inline-block;
    font-size: 2.2rem;
    line-height: 1;    // выравнивание по нижнему краю
  }
}

  .navItem {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: $text-main;
    text-decoration: none;

    &:hover {
      background-color: $gray;
    }

    &.active {
      background-color: $gray;
      font-weight: 500;
    }
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: relative;
    transform: translateX(0);
  }
}