@use '../../assets/styles/variables.scss' as *;

@use '../../assets/styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid $border;

  .textContainer {
    display: flex;
    flex-direction: column; // будет переопределено на широких экранах
    gap: 4px;

    h1 {
      font-size: 1.25rem;
      font-weight: 600;
      margin: 0;
    }

    p {
      font-size: 0.875rem;
      color: $text-muted;
      margin: 0;
    }
  }

  .burger {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  .avatar {
    width: 2rem;
    height: 2rem;
    background-color: #d8b4fe;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .header {
    .burger {
      display: none;
    }

    .textContainer {
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      h1 {
        margin: 0;
      }

      p {
        margin: 0;
        margin-left: 8px;
        position: relative;
        top: -2px; // поднимаем чуть-чуть
        font-size: 0.875rem;
        color: $text-muted;
      }
    }
  }
}
